@font-face {
  font-family: fonteTitulo;
  src: url(JainiPurva-Regular.ttf);
}

body {
  padding: 0;
  margin: 0;
  outline: 0;
  width: 100%;
  height: 100dvh;
  color: black;
  display: flex;
  flex-direction: column;
  background-color: black;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 8%;
  background-color: white;
  width: 100%;
  justify-items: center;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30%;
}

.link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.dropdown {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 200px;
  padding: 10px 0 13px 0;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.list-dropdown {
  list-style: inside;
}

.link-dropdown {
  text-decoration: none;
  color: black;
}

.button {
  width: 110px;
  height: 25px;
  border-radius: 20px;
  border: transparent;
  background-color: white;
  box-shadow: 0 3px 3px rgb(195, 194, 194);
  cursor: pointer;
}

.red {
  background-color: #7E0000;
  color: white;
}

main {
  width: 100%;
  height: 70%;
}

.titulo {
  font-family: fonteTitulo;
  color: white;
  font-size: 70px;
}